@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    background: #e3f2fd;
}

.popup{
    position: absolute;
    left: 50%;
    top: -25%;
    visibility:visible;
    width: 490px;
    border-radius: 5px;
    padding: 13px 17px 20px;
    background: #fff;
    display:flex;
    border-top: 3px solid #EA4D67;
    transform: translateX(-50%);
    box-shadow: 0 10px 25px rgba(52,87,220,0); 
    transition: all 0.25s ease ;  
}

.popup .show{
    top:0;
    visibility: visible;
}

.popup .online{
    border-color: #2ECC71;
}
.popup .icon i{
    width:40px;
    height:40px;
    display:flex;
    color:#fff;
    margin-right: 15px;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #EA4D67;
}

.popup .online .icon i {
    background: #2ECC71;
}

.popup .title {
    font-size: 1.2rem;   
}

.popup .desc{
    color:#474744;
    margin: 3px 0 10px;
    font-size: 1.04rem;
}

.popup .reconnect{
    border: none;
    outline: none;
    color: #fff;
    cursor:pointer;
    font-weight: 500;
    font-size:0.95rem;
    padding: 9px 15px;
    border-radius: 4px;
    background: #5372f0;
}

.popup .online .reconnect{
    background: #bfbfbf;
    pointer-events: none;
}